<!--index.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<div id="messages"></div>
<form>
    <input type="text" id="message" />
    <button type="submit">Send</button>
</form>
<script>
    const roomId = "{{.RoomId}}"
    var messages = document.getElementById("messages");
    var messageInput = document.getElementById("message");
    const link = "ws://" + location.host + `/ws?roomId=${roomId}`
    console.log(link)
    var socket = new WebSocket(link);

    socket.onmessage = function(event) {
        var message = event.data;
        console.log(message)
        var messageNode = document.createElement("div");
        messageNode.innerText = message;
        messages.appendChild(messageNode);
    };

    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();
        var message = messageInput.value;
        socket.send(message);
        console.log("send: " + message)
        messageInput.value = "";
    });
</script>
</body>
</html>
