<!--index.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<div id="messages"></div>
<form>
    <h1>Chat Room List</h1>
    <ol id="roomList"></ol>
</form>
<script>
    let rooms = []
    fetch("/rooms")
        .then(response => response.json())
        .then(data => {
            const roomList = document.querySelector("#roomList")
            data.forEach(room => {
                const roomItem = document.createElement("li");
                roomItem.textContent = room.name;
                const enterButton = document.createElement("button");
                enterButton.textContent = "입장하기"
                enterButton.onclick = () => {
                    let link = `/rooms/${room.id}`
                    console.log(link)
                    window.location.href = link
                }
                roomItem.appendChild(enterButton)
                roomList.appendChild(roomItem);
                rooms.push(room)
            })
        })
</script>
</body>
</html>
