<!--index.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<div id="messages"></div>
<form>
    <h1>Chat Room List</h1>
    <ul id="roomList"></ul>
    <input type="text" id="message" />
    <button type="submit">Send</button>
</form>
<script>
    fetch("/rooms")
        .then(response => response.text())
        .then(html => {
            document.querySelector("#roomList").innerHTML = html;
        })
    var messages = document.getElementById("messages");
    var messageInput = document.getElementById("message");
    var socket = new WebSocket("ws://" + location.host + "/ws");

    socket.onmessage = function(event) {
        var message = event.data;
        var messageNode = document.createElement("div");
        messageNode.innerText = message;
        messages.appendChild(messageNode);
    };

    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();
        var message = messageInput.value;
        socket.send(message);
        messageInput.value = "";
    });
</script>
</body>
</html>
